.pie-pagina{
    width: 100%;
    background-color: black;
    background-image: black;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 45px 0px;
    text-align: center;
    color: white;
    background-image: black;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color:white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color:white;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  width: 45px;
  height:45px;
  border-radius: 10px;
  line-height:50px;
  color:white;
  margin-right: 5px;
  background-color: rgb(122, 7, 229);
  text-align:center;
  transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(8, 248, 8);
  }
  .pie-pagina .grupo-2{
    background-color:black;
    padding: 15px 10px;
    text-align: center;
    color: rgb(235, 225, 225);
  }
  .pie-pagina .grupo-2 small{
      font-size: 15px;
  
    }
    @media screen and (max-width:800px) 
    {
      .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        padding: 30px 0px;
      }
    }